/* Main styles */
body {
  /*background-size: .2em 100%;*/
  text-transform: uppercase;
  margin: 0;
}

#text-animation {
  font: 4em/1 Nunito, sans-serif;
}
#text-animation svg {
  width: 100%;
  height: 100%;
}

.text {
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 170;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(3n+1) {
  stroke: #00e3bb;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.text:nth-child(3n+2) {
  stroke: #ffffff;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.text:nth-child(3n+3) {
  stroke: #1a202c;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -240;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -240;
  }
}
